html
    head
        style
            include addcourse.css
    body
        h1(id="top") Welcome to Registration Portal
        div(id="line")
            p Hello, #{sname}
        div(id="main")
            h1 Courses
            table
                tr
                    th S. No.
                    th Course ID
                    th Course Name
                - for(i=1;i<=sub.length;i++)
                    tr
                        td #{i}
                        td #{coursesid[i-1]}
                        td #{sub[i-1][0]}
                        td
                            a(href=`/studentsregcourse/${coursesid[i-1]}/${sub[i-1]}`) Register
        div(id="bottom")
            a(href='/logout' class="btmbtns") Log Out
            a(href='/studentspage' class="btmbtns") Go Back