html
    head
        style
            include adminstudent.css
    body
        h1(id="top") Welcome to Registration Portal
        div(id="line")
            p Hello, #{name}
        div(id="main")
            h1 Student Accounts
            table
                tr
                    th S. No.
                    th Student ID
                    th Student Name
                    th
                - for(i=1;i<=sid.length;i++)
                    tr
                        td #{i}
                        td #{sid[i-1]}
                        td #{sname[i-1]}
                        td
                            a(href=`/delstudent/${sid[i-1]}`) Delete Account
        div(id="bottom")
            a(href='/logout' class="btmbtns") Log Out
            a(href='/adminspage' class="btmbtns") Go Back
            a(href='/newstudent' class="btmbtns") Add Student